<h2 class="text-center">Your books</h2>
<div class="card text-center  mt-3 border-dark">
  <div class="card-header bg-dark">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link text-secondary" data-toggle="modal" data-target="#addBook"><i class="fa fa-plus"></i> Add</a>
      </li>
      <li class="nav-item">
        <a  class="{{showFilter ? 'nav-link active bg-white' : 'nav-link  disabled text-secondary' }}" (click)="showHideFilters()" data-toggle="collapse" href="#showFilterCategory"><i class="fa fa-filter"></i> Filter</a>
      </li>
    </ul>
  </div>
  <div id="categoryTab" class="tab-content">
      <div class="collapsing" id="showFilterCategory" aria-expanded="true">
          <app-book-filter [isLoad]="showFilter" (bookTitleEvent)="bookTitleChange($event)" (categoryIdEvent)="CategoryIdChange($event)"></app-book-filter> 
      </div>
  </div>
</div>
<div *ngIf="booksList?.length > 0; else noBooks">
<div class="table-responsive-md">
  <table class="table table-striped">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Author</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let book of booksList | bookFilter: bookTitle : categoryId; let i = index">
        <td>{{i+1}}</td>
        <td>{{book.title | limitTo: 20}}</td>
        <td *ngFor="let category of book.categoryDetails">{{category.name}}</td>
        <td>{{book.author | limitTo: 20}}</td>
        <td>
          <a class="btn btn-info btn-xs" [routerLink]="['/browse/bookDetail', book._id]"><i class="fa fa-eye"></i></a>
          <a class="btn btn-primary btn-xs" href="" data-toggle="modal" (click)="showEditBook(book)" data-target="#editBook"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-danger btn-xs" href="" data-toggle="modal" (click)="showDeleteBook(book)" data-target="#delete"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<ng-template #noBooks>
  <h5>There are no books to list</h5>
</ng-template>

<!-- Delete modal -->
<div class="modal" id="delete" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove the Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete <b>"{{bookToDelete.title}}"</b> book?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteBook()">Yes</button>
        <button type="button" class="btn btn-secondary" id="closeDeleteModal" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit modal -->
<div class="modal" id="editBook" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update the Book</h5>
        <button type="button" class="close" data-dismiss="modal"  id="closeEditModalBtn" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-book [isUpdate]="true" [editBook]="bookToEdit" (updateBookEvent)="updateBook($event)"></app-add-book>
      </div>
    </div>
  </div>
</div>

<!-- Add modal -->
<div class="modal" id="addBook" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add the Book</h5>
        <button type="button" class="close" data-dismiss="modal" id="closeAddModalBtn" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-book [isUpdate]="false" (createBookEvent)="createBook($event)" ></app-add-book>
      </div>
    </div>
  </div>
</div>

