/* You can add global styles to this file, and also import other style files */
.custom-form{
    display: flex;
    flex-direction: row;
}
.custom-form__element{
   margin-left: 5px; 
   margin-right: 5px;
}

@media only screen and (max-width: 768px){
    .custom-form{
        flex-direction: column;
    }
    .custom-form__element input[type="submit"]{
        margin-top: 10px;
    }
}

.nav-link {
    cursor: pointer;
}


