<form [formGroup]="categoryForm" class="custom-form my-3" (ngSubmit)="addCategory(); categoryForm.reset()">
  <div class="custom-form__element">
      <label class="col-form-label float-left" for="name">Name </label>
  </div>
  <div class="custom-form__element">
      <input type="text" class="form-control"  placeholder="Add Name" name="name" formControlName="name">
      <div class="alert" *ngIf="!categoryForm.controls['name'].valid && categoryForm.controls['name'].touched"><span>This field is required</span></div>
  </div>
  <div class="custom-form__element">
      <label class="col-form-label float-left" for="Description">Description </label>
  </div>
  <div class="custom-form__element">
      <input type="text" class="form-control" placeholder="Add Description" name="description" formControlName="description" >
      <div class="alert" *ngIf="!categoryForm.controls['description'].valid && categoryForm.controls['description'].touched"><span>This field is required</span></div>
  </div>
  <div class="custom-form__element">
      <input type="submit" value="submit" [disabled]="!categoryForm.valid" class="btn btn-primary btn-block">
  </div>
</form>