<form (submit)="register()">
  <div class="form-group">
    <label for="name" class="cols-sm-2 control-label">Full name</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
      <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="user.name">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="cols-sm-2 control-label">Email address</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
        <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="user.email">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="cols-sm-2 control-label">Password</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="cols-sm-2 control-label">Repeat password</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
        <input type="password" class="form-control" name="password" placeholder="Repeat password">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
  </div>
</form>